.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(114, 147, 147);
}
.mt-8 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.search {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
}
.my-3 {
  background-color: white;
  border-radius: 20px;
  flex: 1;
  margin: 10px 10px;
}
thead tr {
  margin: 10px 10px;
}
thead tr th {
  font-size: 1.2rem;
  text-align: center;
  color: rgb(23, 23, 66);
}
